.header {
  padding: 60px;
  text-align: center;
  background: #1d1f1f;
  color: white;
  font-size: 30px;
}

.form-container {
  padding: 10px;
}

.form-container p {
  margin: 0;
  font-size: 14px;
  color: white;
}

.submit-button-container {
  padding-top: 16px;
}

.submit-button {
  border-radius: 12px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #0838e7;
}

.submit-button:hover {
  background-color: #0838e7;
  color: white;
}

.photos-container {
  padding: 10px;
}

.photo-image {
  padding: 1%;
  max-width: 23%;
  height: auto;
}

